.carousel {
    width: 100%;

    display: flex;
    align-items: center;

    position: relative;

    padding: 1em;
    overflow: hidden;
}

.carousel .slides {
    display: flex;
    transition: transform .5s ease-in-out;
    justify-content: space-between;
    align-items: center;

    max-height: 80%;
    /*overflow: scroll;*/
}

.slide {
    /*min-width: 20%;*/
    /*width: 33%;*/
    max-width: 20%;

    border-radius: 6px;
    /*margin: 0 20rem;*/
    cursor: pointer;
    margin: 0 2em;

    transition: box-shadow ease-in .5s;
    line-height: 0;
    /*margin-bottom: 1em;*/
}

.slide:hover {
    box-shadow: 2px 4px 8px 1px #78c000;
}

.slide:nth-child(3n-1) {
    margin-right: 10px; /* Apply margin to every third item */
}

.slide img {
    border-radius: 6px;
    max-width: 230px;
}

.next-slide, .prev-slide {
    position: absolute;
    z-index: 99999;
}

.prev-slide {
    left: 2px;
}

.next-slide {
    right: 2px;
}
